.logo {
    cursor: pointer;
    width: 100px;
    margin-left: 80px;
    margin-top: 50px;
    outline: none;

}

a {
    font-family: 'Open Sans', sans-serif;
    color: #00A79D !important;
}

a:hover {
    font-family: 'Open Sans', sans-serif;
    color: #FF5664 !important;
}

.current {
    font-family: 'Open Sans', sans-serif;
    color: #FF5664 !important;
}

.navbar_txt {
  margin-top: 66px;
  margin-left: 80px;
}

.body_container {
    margin-top: 6%;
  
}

.form_img {
    position: absolute;
    height: 700px;
    right: 0;
    bottom: 1;
}

.submit_btn {
    background-color: #FF5664;
    color: white;
    border-radius: 10px;
    border: none;
    height: 50px;
    width: 120px;
    font-family: 'Oswald', sans-serif;
    margin-left: 13%;
    margin-top: 30px;
}

.reset_btn {
    background-color: #00A79D;
    color: white;
    border-radius: 10px;
    border: none;
    height: 50px;
    width: 120px;
    font-family: 'Oswald', sans-serif;
    margin-left: 13%;
    margin-top: 30px;
}

.card_properties {
    border-radius: 20px;
    border: none;
    opacity: 0.9;
    filter: alpha(opacity=30);
}

.card-title {
    font-family: 'Oswald', sans-serif;
}

.card-text {
    font-family: 'Open Sans', sans-serif;

}

.card-body {
    padding: 2px;
}

.btn_enter {
    border: none;
    background-color: #00A79D;
    font-family: 'Oswald', sans-serif;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    width: 150px;

}

.card-img {
    padding: 15%;
}