<nav class="navbar">

    <img routerLink="/home" class="logo" src="./assets/logo.png">

</nav>

<div class="row">
    <div class="col-6 txt_container">
        <div class="row">

            <div class="col-12 header_box">
                <p class="header_title">we are a digital platform meant to connect ideas and make projects come true</p>
                <p class="header_text">Whether if you are a company looking for startups to develop a product or a 
                    service for your company,  or if you want to connect with entrepreneurs to support their ideas, STARTUS is the platform that brings us all together.
                </p>
            </div>
            <div class="col-12">
                <button routerLink="/register" type="button" class="btn btn-light header_button">connect</button>
            </div>
        </div>
    </div>

    <div class="col-6">
        <img class="header_pic" src="./assets/home_pic.png">
    </div>
</div>